.containerForm{
    margin-top: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    /* Para ponerlo vertical */
    width: 350px;
    height: 500px;
    border-radius: 25px;
}
.warning{
    color:red;
}
.imageForm{
    height: 150px;
    margin-top: 40px;
}
.form{ 
    display: grid; 
    color: white;
    height: 150px;
    margin-top: 60px;
    padding: 8px; /* Ajusta el relleno según tus preferencias */

}
.inputForm{
    border-radius: 40px;
}
.buttonSubmit{
    margin-top: 5px;
    padding: 10px 20px;
    background-color: yellow;
    color: black;
    border: none;
    border-radius: 5px;
}

