.container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  height:100vh;
  margin-top: -40px;

}
.leftAbout{
  padding: 30px;
  padding-top: 165px;

  background-color: rgba(0, 0, 0, 0.8);
  width: 50%;
  color:white;
}

.text{
  font-size: 30px;
  font-weight: 400;
}
.imageAbout{
  width: 50%;
  margin-top: 150px;
  overflow: hidden; 
  border-radius: 50px;
}