.nav-button {
    margin: 5px;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nav-button:hover {
    background-color: #45a049;
  }